/* CSS file placeholder. */
*{
  color:white;
}

body{
    background: linear-gradient(to bottom right, #071149, #115D96);
	height: 60em;
}

#main-menu{
	
}

.centre{
  text-align:center;
}

.titleButton{
  color:black;
  font-size:1.5em;
  width:80%;
  padding:0.5em 2em;
  margin-top:1.5em;
  margin-left: 10%;
  margin-right: 10%;
}

#optChangeNumQuest{
  color:black;
}

#changeDiv{
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
}

input{
  color:black;
}

#buttChangeNum{
  color:black;
}